@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');




p{
    background: url('/static/images/header1.jpg');
    background-color: #cccccc;
    color: aliceblue;
    margin: -53px 8px 21px 2px;
    background-size: cover;
    background-size: 50% ;
    text-align: center;
    font-size: large;

}
div .card{
    text-align: center;
    margin: 7px 3px 46px 17px;
}

.new{
    width: 285px;
}



