

{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}" />


{% comment %} <img id ='static' src="{% static "images/header1.jpg" %}" alt="My image"/> {% endcomment %}


<p>

welcome to our shop </br>

this is a test project

</br></br></br></br></br></br></br></br>


</p>



{% for category in categories %}

        <div class="btn-group">
            <a href="{{ category.get_absolute_url }}" class="btn btn-danger">{{ category.name }}</a>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
                {% for sub in category.scategory.all %}
                    <a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>
                {% endfor %}
            </div>
        </div>


{% endfor %}</br></br>





{% for product in products  %}


<div class="card" style="width: 18rem; display:inline-block">
  {% load thumbnail %}
  {% thumbnail product.image "200x400" as img %}
  <img id = "pi" src="{{img.url}}"  alt="" height = "300px" >  
  {% endthumbnail %}
  <div class="card-body">
   <a  href= "{{product.get_absolute_url}}" class="card-title">{{product.name}} </a>
  </div>
</div>

{% endfor %}




{% endblock %}%