
{% extends "base.html" %}
{% load ratings%}



{% block content %}


 <img src="{{ product.image.url }}" alt="" width="400px" height="300px">
<p class="card-text">{{product.name}}</p>
<p class="card-text">price :{{product.price}}</p>
<p class="card-text">{{product.discription}}</p>
<form action ="{% url 'cart:addcart' product.id %}" method = "post">
{% csrf_token %}
{{form_one}}
<input type= 'submit' value = "Add to cart">
</form>
<br/><br/><br/>

<div id ="exp">
<h3>Rate to this product:<h3>
<br/>

{% ratings product %}

</div>
<hr/>
<h3>your idea about this product:</h3>
<br/><br/><br/>
{% if request.user.is_authenticated %}
<form action="{% url 'shop:product_detail' product.slug %}" method="post" novalidate>
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Send" class="btn btn-primary" >

</form>

{% else %}


<p class="text-danger">Only logged in users can send comments</p>

{% endif %}</br>


 {% for comment in comments %}
    <div class="card bg-dark  text-white">
        <p class="card-header">{{comment.user}}</p>
        <p class="card-body">{{comment.body}}</p>
 {% endfor %} 









{% endblock %}