{% extends "base.html" %}
{% load static %}


{% block content %}





  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">


  <link href="{% static 'css/style.css' %}" rel="stylesheet" />





              <div class="user_optio_box">
              <a href="{% url 'cart:detail' %}">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>



  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="s">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">

 <p>Contactimage</p>
<form action = '' method = 'post' >
{% csrf_token %}
{{form}}</br>
<input value = 'Send' type = 'submit' class = 'btn btn-primary'>
</form>
          
              </div>
            </form>
          </div>
        </div>
      
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
  <!-- info section -->
  <section class="info_section layout_padding2">
        
            <div class="social_box">
              <a href="">
                <img src="{% static 'images/fb.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/youtube.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Sina test projects</a>
      </p>
    </div>
  </section>
 


















{% endblock %}